#chat-screen {
  background-color: #abc1d1;
  height: 500vh;
}
#chat-screen .alt-header {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  top: 0px;
  background-color: #abc1d1;
}
#chat-screen .status-bar {
  /* 위에 코드랑 같이 배열해도되지만 이미 top:0 을 설정해놓아서 다른 세부사항들은 따로배치*/
  z-index: 2;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  background-color: #abc1d1;
}

@keyframes fadeIn {
  from {
    transform: translateX(10px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.main-chat {
  margin-top: 130px;
  display: flex;
  flex-direction: column; /*수평이된 세로축을 기준으로 중앙정렬하면 가운데로온다 column을 했을경우 세로와 가로의 축이바뀜*/
  align-items: center;
  font-size: 14px;
  animation: fadeIn 0.5s linear;
}
#chat-screen .alt-header {
  z-index: 1;
}
.chat__timestamp {
  color: white;
  background-color: #92a4b2;
  padding: 8px 15px;
  border-radius: 16px;
  margin-bottom: 25px;
}

.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
}
.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 20px;
  margin-right: 15px;
}
.message__author {
  opacity: 0.7;
  font-size: 13px;
  margin-bottom: 7px;
  display: block;
  font-weight: 500;
}
.message__info {
  display: flex;
  align-items: flex-end;
}
.message__bubble {
  background-color: white;
  padding: 13px;
  border-radius: 15px;
  border-top-left-radius: 0px; /*border-radius의 모서리의 각*/
  margin-right: 5px;
}
.message__time {
  opacity: 0.7;
  font-size: 12px;
  font-weight: 500;
}
.message-row--own {
  justify-content: flex-end;
}
.message-row--own .message__bubble {
  background-color: var(--yellow);
  border-top-right-radius: 0px;
  border-top-left-radius: 15px;
  margin-right: 0px;
  margin-left: 5px;
}
.message-row--own .message__info {
  flex-direction: row-reverse; /*fexl childern에게만 적용가능*/
}

/*채팅창 만드는 css*/
.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 25px;
  align-items: center;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}
.reply i {
  opacity: 0.5;
}
.reply .reply__column:first-child {
  /*column에 width 값을줘야한다.*/
  width: 10%;
}
.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}
.reply input {
  /*column에 width 값이 있어야 input의 width값이 적용된다.*/
  padding: 10px;
  width: 100%;
  border: var(--main-border);
  border-radius: 23px;
  transition: transform 0.3s ease-in-out; /* input transition*/
}
/*.reply input::placeholder {
  padding: 11px;

  input의 공간에 padding을 주고싶어서 코드를 작성했지만 커서와 placeholder의 시작점이 달라서 사용 x 
}*/
.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: -18px;
  top: 3px;
  /*input의 패딩값으로인해서 아이콘과 버튼의 위치or크기 조정*/
}
.reply__column:last-child > i {
  right: 30px;
  top: 9px;
  font-size: 20px;
  /*input의 패딩값으로인해서 아이콘과 버튼의 위치or크기 조정*/
}
.reply__column button {
  background-color: var(--yellow);
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.reply__column button i {
  opacity: 1;
}
.reply__column button:focus,
.reply__column button:active {
  outline: none;
}
.reply__column:first-child > i {
  font-size: 25px;
}

.reply .reply__column:first-child,
.reply .fa-smile-wink {
  transition: opacity 0.2s ease-in-out;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-smile-wink {
  opacity: 0;
}
.reply:focus-within button {
  transform: translateX(-3px) translateY(-50px);
}
.reply input:focus {
  width: 89vw;
  transform: translateX(-12%) translateY(-50px);
}
.reply:focus-within {
  transform: translateY(50px);
}
