.more-screen .icon-row {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}
.more-suggestions {
  margin-top: 30px;
  border-top: var(--main-border);
  padding-top: 40px;
}
.more-suggestions__title {
  margin-bottom: 30px;
}
.more-suggestions__icon-image {
  display: flex;
  flex-direction: column;
  align-items: center;
}
