.settings__setting {
  padding: 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.settings__setting:hover {
  background-color: rgba(0, 0, 0, 0.02);
  cursor: pointer;
}
.settings__setting i {
  margin-right: 20px;
  font-size: 22px;
  opacity: 0.8;
}

.settings__setting-column:last-child {
  opacity: 0.5;
}
.settings__setting-dot {
  background-color: tomato;
  border-radius: 50%;
  color: white;
  font-size: 11px;
  padding: 2px 4px;
  font-weight: 500;
}
