.alt-header {
  padding: 0px var(--horizontal-space);
  padding-top: 50px;
  padding-bottom: 30px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.alt-header__column {
  width: 33%; /*header column에 대해서 정렬하기위한 너비 값*/
}
.alt-header__title {
  font-size: 24px;
  font-weight: 600;
}
.alt-header__column:first-child {
  margin-right: auto;
}
.alt-header__column:nth-child(2) {
  text-align: center; /*doyeong 센터정렬*/
}
.alt-header__column:last-child {
  margin-left: auto;
  display: flex;
  justify-content: flex-end; /*마지막 아이콘들 끝정렬*/
}
.alt-header__column span:last-child {
  margin-left: 20px; /*마지막 아이콘 2개중 하나 마진 여백공간*/
}
