.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f9f9fa;
  padding: 20px 40px;
  box-sizing: border-box;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__link {
  position: relative;
  color: #2e363e;
}
.nav__notification {
  background-color: tomato;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  color: white;
  position: absolute; /* absolute 의 조건이 가장 가까운 부모의 기준으로 움직이기때문에 부모에게 relative를 설정해야된다. */
  left: 20px;
  bottom: 15px;
}
.nav__dot {
  display: flex;
  background-color: tomato;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 27px;
  bottom: 25px;
}
