.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f9f9fa;
  padding: 20px 40px;
  box-sizing: border-box;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  animation: navbarAnimation 1.5s ease-in-out forwards;
}
@keyframes navbarAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__link {
  position: relative;
  color: #2e363e;
}
.nav__notification {
  position: absolute; /* absolute 의 조건이 가장 가까운 부모의 기준으로 움직이기때문에 부모에게 relative를 설정해야된다. */
  left: 20px;
  bottom: 15px;
  animation: notificationAnimation 2s ease-in-out infinite; /*Aniamtion 설정*/
}
@keyframes notificationAnimation {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-4px) rotateY(360deg);
  }
  100% {
    transform: none;
  }
}
.nav__btn {
  /* transform: translateY(50px); 시작 상태의 아이콘들의 위치를 애니메이션이 시작하기전에 50px 아래부터 시작하기위해서 넣음*/
  transform: translateY(50px);
  opacity: 0;
  animation: appearBtnAnimation 0.3s ease-in-out forwards; /*Keyframes 애니메이션 효과를 주고 다시 원래상태로돌아가는것을 방지*/
}
@keyframes appearBtnAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.nav__btn:nth-child(2) {
  animation-delay: 0.3s;
}
.nav__btn:nth-child(3) {
  animation-delay: 0.6s;
}
.nav__btn:last-child {
  animation-delay: 0.9s;
}
.nav__dot {
  display: flex;
  background-color: tomato;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 27px;
  bottom: 25px;
}
