.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px var(--horizontal-space);
  margin-bottom: 10px;
}
.screen-header__title {
  font-size: 30px;
  font-weight: 600;
}
.screen-header__icons span {
  margin-left: 25px;
}
